<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Node js server</title>
  </head>
  <body>
    <h1>Hello from nodejs</h1>
    <h2>Welcome</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut dolorem dolor fugit aut, maxime doloribus obcaecati ad provident quis nostrum nemo aperiam! Reprehenderit ab repudiandae ut laboriosam dignissimos debitis voluptatem illo laborum, id commodi dolor iusto consequuntur explicabo culpa quisquam.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut dolorem dolor fugit aut, maxime doloribus obcaecati ad provident quis nostrum nemo aperiam! Reprehenderit ab repudiandae ut laboriosam dignissimos debitis voluptatem illo laborum, id commodi dolor iusto consequuntur explicabo culpa quisquam.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut dolorem dolor fugit aut, maxime doloribus obcaecati ad provident quis nostrum nemo aperiam! Reprehenderit ab repudiandae ut laboriosam dignissimos debitis voluptatem illo laborum, id commodi dolor iusto consequuntur explicabo culpa quisquam.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut dolorem dolor fugit aut, maxime doloribus obcaecati ad provident quis nostrum nemo aperiam! Reprehenderit ab repudiandae ut laboriosam dignissimos debitis voluptatem illo laborum, id commodi dolor iusto consequuntur explicabo culpa quisquam.</p>
  </body>
</html>
